[user]
	email = liang.liu4@auspost.com.au
	name = Liang Liu
	signingkey = 160034B0219407A4
[core]
	editor = vim
	whitespace = trailing-space,space-before-tab
[merge]
	tool = vimdiff
[alias]
	st = status
	pr = pull --rebase
	ci = commit
	co = checkout
[init]
	defaultBranch = master
[gpg]
	program = gpg
[commit]
	gpgsign = false
