[user]
	email = liul85@gmail.com
	name = liul85
	signingkey = F84F40CFFF24F5BB
[core]
	editor = nvim
	whitespace = trailing-space,space-before-tab
[merge]
	tool = vimdiff
[alias]
	st = status
	pr = pull --rebase
	ci = commit
	co = checkout
[init]
	defaultBranch = master
[gpg]
	program = gpg
[commit]
	gpgsign = false
